.card{
   margin-top: 1%;
   height: 50%;
   width: 100%;
   background-color: #ededed;
   border: 1px solid darkgray;
   color: #bb0000;
   font-family: 'Trebuchet MS','Helvetica Neue',Arial,Helvetica,sans-serif;
 }

.card-title{
  font-size: 1.5em;
  text-shadow: 0.5px 0.5px 0px #6b6565;
}

.card-text{
  font-size: 1em;
}

#abmelden{
  width: 100%;
}

p.checkout-info{
  margin-bottom: 0;
}

#picture{
  width: 100%;
  border: 1px solid darkgray;
  height: 220px;
}

.col-md-12{
  height: auto;
  width: auto;
}

.btn.btn-secondary {
  float: right;
  margin-top: 1%;
  margin-right: 2%;
}

.alert-heading {
  font-size: 1.5em;
}

