.card{
   height: auto;
   width: auto;
   border: 1px solid darkgray;
 }

.card-title{
  font-size: 1.5em;
  text-shadow: 0.5px 0.5px 0px #6b6565;
}

.card-text{
  font-size: 1em;
}

#abmelden{
  width: 100%;
}

p.checkout-info{
  margin-bottom: 0;
}

#picture{
  width: 100%;
  border: 1px solid darkgray;
  height: 220px;
}


.btn-secondary {
  float: right;
}

.alert-heading {
  font-size: 1.5em;
}

h3 {
  margin-top: 1%;
  margin-bottom: 1%;
}


