<div class="container">
  <div class="row">
    <div *ngFor="let tageler of tagelers">
      <div class="card" style="width: 20rem;">
        <img class="card-img-top" src={{tageler.picture}} width="318" height="180"> <!--width="242" height="200" -->
        <div class="card-block">
          <h4 class="card-title">{{tageler.title}}</h4>
          <!--<a href="/tageler-details/{{tageler._id}}" class="btn btn-secondary">Details</a>-->
            <button class="btn btn-secondary" routerLink="/tageler-details/{{tageler._id}}">View Details</button>
            <button class="btn btn-danger" (click)="deleteTageler(tageler)">Delete</button>
          <!--<button class="btn btn-secondary" routerLink="/tageler-details/{{this.tageler._id}}">View Details</button>-->
        </div>
      </div>
    </div>
  </div>
</div>



<!--
<div class="col-md-5">
  <h2>Tageler</h2>
  <ul class="list-group">
    <li class="list-group-item"
        *ngFor="let tageler of tagelers"
        (click)="selectTageler(tageler)"
        [class.active]="tageler === selectedTageler">
      {{tageler.title}}
    </li>
  </ul>
  <button class="btn btn-warning" (click)="createNewTageler()">New</button>
</div>
<div class="col-md-5 col-md-offset-2">
  <tageler-details
    [tageler]="selectedTageler"
    [createHandler]="addTageler"
    [updateHandler]="updateTageler"
    [deleteHandler]="deleteTageler">
  </tageler-details>
</div>
-->

