<div class="container" *ngIf="group && !viewCalendar">
  <div class="row">
    <div class="col-md-8">
      <h3>Tagelers von {{group.name}}</h3>
    </div>

    <!-- Button for iCal and calendar -->
    <div class="col-md-4">
      <button class="btn btn-secondary" *ngIf="!viewCalendar" (click)="handleCalendarView()">Kalender</button>
      <button class="btn btn-secondary" (click)="handleICal(group)">Events herunterladen</button>
    </div>
  </div>

  <!-- Displays next upcoming tageler of the group -->
  <div class="row" *ngFor="let tageler of tagelers | nextTagelerFilter: group">
    <tageler-large-card [tageler]="tageler" id="bigCard"></tageler-large-card>
  </div>
  <br>
  <hr>
  <br>

  <!-- Display all other upcoming tagelers as smaller cards -->
  <div class="row">
    <div class="groupPipe col-md-4" *ngFor="let tageler of tagelers | otherTagelerFilter: group">
      <a class="nodecor" href="../tageler-details/{{tageler._id}}">
        <tageler-small-card [tageler]="tageler"></tageler-small-card>
      </a>
    </div>
  </div>
</div>

<!-- Displays calender if button "Kalender" is clicked -->
<div class="container" *ngIf="group && viewCalendar">
  <button class="btn btn-secondary" *ngIf="viewCalendar" (click)="handleCalendarView()">Ansicht schliessen</button>
  <h3>Kalender von {{group.name}}</h3>
  <div class="calendar">
    <angular2-fullcalendar [options]="calendarOptions"></angular2-fullcalendar>
  </div>
</div>
