

.card:hover{
  background-color: darkgray;
}

.nodecor:hover{
  color:none;
  text-decoration-line: none;
  text-decoration: none;
}

#abmelden{
  width: 400px;
}

p.checkout-info{
  margin-bottom: 0;
}

.card-img-top{
  border-bottom: 1px solid darkgray;
}

.card.col-md-12{
  margin: 1%;
  height: auto;
  width: auto;
  background-color: #ededed;
  border: 1px solid darkgray;
  color: #bb0000;
  font-family: 'Trebuchet MS','Helvetica Neue',Arial,Helvetica,sans-serif;
}

.card{
  margin: 1%;
  height: 360px;
  width: 318px;
  background-color: #ededed;
  border: 1px solid darkgray;
  color: #bb0000;
  font-family: 'Trebuchet MS','Helvetica Neue',Arial,Helvetica,sans-serif;
}

.card-title{
  font-size: 1.5em;
  text-shadow: 0.5px 0.5px 0px #6b6565;
}

.card-text{
  font-size: 1em;
}

#picture{
  border: 1px solid darkgray;
}

.btn.btn-secondary {
  float: right
}

.calendar {
  padding-top: 5%
}
