<ul class="nav nav-tabs">
  <li role="presentation"><a href="#">Home</a></li>
  <li role="presentation"><a href="/tageler">Tageler</a></li>
  <li role="presentation"><a href="/unit">Unit</a></li>
</ul>
<!--
<div class="container">
    <tageler-component
      [createHandler]="addTageler"
      [updateHandler]="updateTageler"
      [deleteHandler]="deleteTageler">
    </tageler-component>
</div>
-->
<div class="container">
  <h1>Welcome to the new Tageler-System!</h1>
</div>
<router-outlet></router-outlet>



