<div class="container">
  <div class="row">
    <div class="col">
      <div *ngIf="tageler">
        <h2>{{tageler.title}}</h2>
        <li>Text: {{tageler.text}}</li>
        <li>Datum: {{tageler.date | date:'fullDate'}}</li>
        <li>Start: {{tageler.start}}</li>
        <li>End: {{tageler.end}}</li>
        <li>Bring Along: {{tageler.bring_along}}</li>
        <li>Unit: {{tageler.unit}}</li>
        <li>Uniform: {{tageler.uniform}}</li>
        <li>Checkout Deadline: {{tageler.checkout_deadline | date:'fullDate'}}</li>
        <img src={{tageler.picture}} alt="Mountain View" style="width:400px;">
      </div>
    </div>
  </div>
</div>
