<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div *ngIf="tageler">
        <h2>{{tageler.title}}</h2>
        <p>{{tageler.text}}</p>
        <li>Datum: {{tageler.date | date:'fullDate'}}</li>
        <li>Start: {{tageler.start}}</li>
        <li>Ende: {{tageler.end}}</li>
        <li>Mitbringen: {{tageler.bring_along}}</li>
        <li>Gruppe: {{tageler.unit}}</li>
        <li>Anziehen: {{tageler.uniform}}</li>
        <img src={{tageler.picture}} alt="Mountain View" style="width:400px;">
      </div>
    </div>
    <div class="col-md-6">
      <div *ngIf="tageler">
        <div class="alert alert-warning" role="alert">
          <h4 class="alert-heading">Wichtig - Abmeldung</h4>
          <p>Bis: {{tageler.checkout_deadline | date:'fullDate'}} </p>
          <p>Bei: tageler.leader </p>
          <p>Über: tageler.checkout_medium </p>
        </div>
      </div>
    </div>
  </div>
</div>
