<div class="container">
  <div class="row">
    <div *ngFor="let tageler of tagelers | tagelerByGroupAndByDate" class="col-md-4">
      <a class="nodecor" href="../tageler-details/{{tageler._id}}">
      <div class="card">
        <img id="picture" class="card-img-top" *ngIf="tageler.picture" [src]="'data:image/png;base64,' + tageler.picture">
        <div class="card-block" >
          <div *ngIf="tageler.title.length <= 25">
            <h5 id="title_short" class="card-title">{{tageler.title}}</h5>
          </div>
          <div *ngIf="tageler.title.length > 25">
            <h5 id="title_long" class="card-title">{{tageler.title.slice(0,22)}}...</h5>
          </div>
          <h5 id="date" class="card-text">{{tageler.start | convertToLocalDate}}</h5>
          <div id="textShort" *ngIf="tageler.group[0].split(',').length <= 4">
            <p class="card-text">{{tageler.group}}</p>
          </div>
          <div id="textLong" *ngIf="tageler.group[0].split(',').length > 4">
            <p class="card-text">{{tageler.group[0].slice(0, 35)}}...</p>
          </div>
        </div>
      </div>
      </a>
    </div>
  </div>
</div>


