.col-md-4{
  margin-left: 12%;
}

.card{
  margin: 1%;
  height: 360px;
  width: 319px;
  background-color: #ededed;
  color: #bb0000;
  border: 1px solid darkgray;
  font-family: 'Trebuchet MS','Helvetica Neue',Arial,Helvetica,sans-serif;
}

.card:hover{
  background-color: darkgray;
}

.card-title{
  font-size: 1.5em;
  text-shadow: 0.5px 0.5px 0px #6b6565;
}

.card-text{
  font-size: 1em;
}

.nodecor:hover{
  color:none;
  text-decoration-line: none;
  text-decoration: none;
}

.card-img-top{
  border-bottom: 1px solid darkgray;
}

#picture {
  width: 318px;
  height: 180px;
}


