<div class="container">
<div class="row">
  <div class="col-md-5">
    <h2>Tageler</h2>
    <button class="btn btn-warning" (click)="createNewTageler()">New</button>
  </div>
  <div class="col-md-5 col-md-offset-2">
    <div *ngIf="tageler" class="row">
      <div class="col-md-12">
        <h2 *ngIf="selectedTageler._id">Tageler Details</h2>
        <h2 *ngIf="!selectedTageler._id">New Tageler</h2>
      </div>
    </div>
    <div *ngIf="selectedTageler" class="row">
      <!-- try new form-->

      <form [formGroup]="tagelerForm"  (ngSubmit)="onSubmit()" novalidate>
        <div class="form-group">
          <label class="center-block">Name:
            <input class="form-control" formControlName="title">
          </label>
        </div>
        <div class="form-group">
          <label class="center-block">Datum:
            <input class="form-control" formControlName="date" type="date" useValueAsDate>
          </label>
        </div>
        <div class="form-group">
          <label class="center-block">Einheit:
            <select class="form-control" formControlName="unit">
              <option *ngFor="let unit of units" [value]="unit">{{unit.name}}</option>
            </select>
          </label>
        </div>
        <div class="form-group">
          <label class="center-block">Start:
            <input class="form-control" formControlName="start">
          </label>
        </div>
        <div class="form-group">
          <label class="center-block">Ende:
            <input class="form-control" formControlName="end">
          </label>
        </div>
        <div class="form-group">
          <label class="center-block">Mitbringen:
            <input class="form-control" formControlName="bring_along">
          </label>
        </div>
        <div class="form-group">
          <label class="center-block">Kleidung:
            <input class="form-control" formControlName="uniform">
          </label>
        </div>
        <div class="form-group">
          <label class="center-block">Absagen bis:
            <input class="form-control" formControlName="checkout_deadline" type="date" useValueAsDate>
          </label>
        </div>
        <button type="submit" class="btn btn-secondary">Create</button>
      </form>
      <!--
      <form class="col-md-12">
        <div class="form-group">
          <label for="tageler-titel">Titel</label>
          <input class="form-control" name="tageler-titel" [(ngModel)]="selectedTageler.title" placeholder="Titel"/>
        </div>
        <div class="form-group">
          <label for="tageler-einheit">Einheit:</label>
            <select class="form-control" name="tageler-unit" [(ngModel)]="selectedTageler.unit">
              <option *ngFor="let unit of units" [value]="unit">{{unit.name}}</option>
            </select>
        </div>
        <div class="form-group">
          <label for="tageler-start">Start</label>
          <input class="form-control" name="tageler-start" [(ngModel)]="selectedTageler.start" placeholder="14:00"/>
        </div>
        <div class="form-group">
          <label for="tageler-end">Ende</label>
          <input class="form-control" name="tageler-end" [(ngModel)]="selectedTageler.end" placeholder="17:00"/>
        </div>
        <div class="form-group">
          <label for="tageler-bring_along">Mitbringen</label>
          <input class="form-control" name="tageler-titel" [(ngModel)]="selectedTageler.bring_along" placeholder="BST"/>
        </div>
        <div class="form-group">
          <label for="tageler-uniform">Kleidung</label>
          <input class="form-control" name="tageler-uniform" [(ngModel)]="selectedTageler.uniform" placeholder="Jacke"/>
        </div>
        <div class="form-group">
          <label for="tageler-checkout_deadline">Absagen bis</label>
          <input class="form-control" name="tageler-checkout_deadline" [(ngModel)]="selectedTageler.checkout_deadline" />
        </div>
        <button class="btn btn-primary" *ngIf="!selectedTageler._id" (click)="createTageler(selectedTageler)">Create</button>
        <button class="btn btn-info" *ngIf="selectedTageler._id" (click)="updateTageler(selectedTageler)">Update</button>
        <button class="btn btn-danger" *ngIf="selectedTageler._id" (click)="deleteTageler(selectedTageler._id)">Delete</button>
      </form>
      -->
    </div>
  </div>
</div>
</div>
