.buttons {
  margin-top: 2%;
  margin-right: 2%;
  margin-left: 1%;
}

.btn-secondary:active {
  background-color: grey;
}

.btn-secondary:focus {
  background-color: lightgrey;
}

.warning {
  margin-bottom: 2%;
  margin-top: 2%;
  color: orange;
}

.viewForm {
  margin-left: 2%;
}

/*
 * Cards of upcoming / old tagelers
 */

.card {
  margin-top: 5%;
  margin-bottom: 5%;
  height: 360px;
  width: 320px;
  border: 1px solid darkgray;
}


/*
 * Preview Card in create / update
 */

.card_preview {
  margin-top: 1%;
  height: 25%;
  width: 100%;
  border: 1px solid darkgray;
}

.card-title_preview {
  font-size: 1em;
}

.card-text_preview {
  font-size: 0.7em;
}

#abmelden_preview {
  width: 100%;
}

.card-checkout_preview {
  margin: 0;
  font-size: 0.5em;
}

#picture_preview {
  width: 100%;
  border: 1px solid darkgray;
}

.alert-heading_preview {
  font-size: 0.8em;
}

ul {
  padding-left: 15px;
}

/*
 * Button for font picker
 */

.action-toggle-button {
  box-sizing: border-box;
  width: 100%;
  padding: 16px;
  margin: 8px 0;
  border-radius: 4px;
  border: 1px solid #555;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
}

#create_formControlName_font_family {
  margin-left: 2%;
}

