.buttons{
  margin-top: 2%;
  margin-right: 2%;
  margin-left: 1%;
}

.btn-secondary:active{
  background-color: grey;
}

.btn-secondary:focus{
  background-color: lightgrey;
}

.warning{
  margin-bottom: 2%;
  margin-top: 2%;
  color: orange;
}

.updateAndViewForm{
  margin-left: 2%;
}

.card{
  margin-top: 5%;
  margin-bottom: 5%;
  height: 360px;
  width: 320px;
  background-color: #ededed;
  border: 1px solid darkgray;
  color: #bb0000;
  font-family: 'Trebuchet MS','Helvetica Neue',Arial,Helvetica,sans-serif;
}


