<div class="container">
  <div class="row">
    <div>
      <div class="col-md-2" *ngIf="!createTageler">
        <button class="btn btn-primary" (click)="showCreateTagelerForm()">Tageler erstellen</button>
      </div>
      <div class="col-md-2" *ngIf="createTageler">
        <button class="btn btn-primary" (click)="cancelCreateTageler()">Abbrechen</button>
      </div>
    </div>
    <div>
      <div class="col-md-2" *ngIf="!showGroups && !createTageler">
        <button class="btn btn-primary" (click)="showListOfGroups()">Gruppen anzeigen</button>
      </div>
      <div class="col-md-2" *ngIf="showGroups && !createTageler">
        <button class="btn btn-primary" (click)="hideListOfGroups()">Ansicht schliessen</button>
      </div>
    </div>
    <div class="col-md-2" *ngIf="showGroups && !createTageler">
      <button class="btn btn-primary" (click)="unselectSelectedGroups()">Auswahl aufheben</button>
    </div>
  </div>

  <div *ngIf="showGroups">
  <div class="row">
    <div class="col md-4">
      <h4>Trupp</h4>
      <div *ngFor="let group of groups | groupTypeFilter: 'Trupp' ">
        <button class="btn btn-secondary" (click)="selectGroup(group)">
            {{group.name}}
        </button>
      </div>
    </div>
    <div class="col md-4">
      <h4>Meute</h4>
      <div *ngFor="let group of groups | groupTypeFilter: 'Meute' ">
        <button class="btn btn-secondary" (click)="selectGroup(group)">
          {{group.name}}
        </button>
      </div>
    </div>
    <div class="col md-4">
      <h4>Equipe</h4>
      <div *ngFor="let group of groups | groupTypeFilter: 'Equipe' ">
        <button class="btn btn-secondary" (click)="selectGroup(group)">
          {{group.name}}
        </button>
      </div>
    </div>
  </div>


  <!-- Alerts unschön, müssen noch refactored werden (code dupliziert) -->
  <div *ngIf="createSuccess">
    <div class="alert alert-success alert-dismissible fade show" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <p>Tageler erfolgreich erstellt!</p>
    </div>
  </div>
  <div *ngIf="deleteSuccess">
    <div class="alert alert-success alert-dismissible fade show" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <p>Tageler erfolgreich gelöscht!</p>
    </div>
  </div>
  </div>


  <!-- Create tageler form -->
  <div class="col-md-6">
    <div *ngIf="selectedTageler" class="row">
      <form [formGroup]="tagelerForm"  (ngSubmit)="saveNewTageler()">
        <div class="form-group row">
          <label class="col-3 col-form-label">Übungsfrei</label>
          <div class="col-9">
              <input type="checkbox" name="free" formControlName="free" [(ngModel)]="free" (change)="fillFree($event)">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-3 col-form-label">Name:</label>
          <div class="col-9">
            <input class="form-control" formControlName="title" required>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-3 col-form-label">Text:</label>
          <div class="col-9">
            <textarea class="form-control" formControlName="text" rows="3"></textarea>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-3 col-form-label">Einheit:</label>
          <div class="col-3">
            <select class="form-control" formControlName="group" required>
              <option *ngFor="let group of groups" value={{group.name}}>{{group.name}}</option>
            </select>
          </div>
        </div>
        <div *ngIf="free">
          <div class="form-group row">
            <label class="col-3 col-form-label">Datum:</label>
            <div class="col-5">
              <input class="form-control" formControlName="date_start" type="date" required>
            </div>
          </div>
        </div>
        <div *ngIf="!free">
          <div class="form-group row">
            <label class="col-3 col-form-label">Start:</label>
            <div class="col-5">
              <input class="form-control" formControlName="date_start" type="date" required>
            </div>
            <div class="col-4">
              <input class="form-control" formControlName="time_start" type="text" pattern="([01]?[0-9]{1}|2[0-3]{1})(:|\.)[0-5]{1}[0-9]{1}" placeholder="hh:mm">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-3 col-form-label">Ende:</label>
            <div class="col-5">
              <input class="form-control" formControlName="date_end" type="date" required>
            </div>
            <div class="col-4">
              <input class="form-control" formControlName="time_end" type="text" pattern="([01]?[0-9]{1}|2[0-3]{1})(:|\.)[0-5]{1}[0-9]{1}" placeholder="hh:mm">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-3 col-form-label">Mitbringen:</label>
            <div class="col-9">
              <textarea class="form-control" formControlName="bringAlong" rows="2" required></textarea>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-3 col-form-label">Kleidung:</label>
            <div class="col-9">
              <textarea class="form-control" formControlName="uniform" rows="2" required></textarea>
            </div>
          </div>
          <div formGroupName="checkout">
            <div class="form-group row">
              <label class="col-3 col-form-label">Absagen bis:</label>
              <div class="col-5">
                <input class="form-control" formControlName="deadline_date" type="date">
              </div>
              <div class="col-4">
                <input class="form-control" formControlName="deadline_time" type="time">
              </div>
            </div>
            <div formGroupName="contact">
                <div class="form-group row">
                  <label class="col-3 col-form-label">Absagen bei:</label>
                  <div class="col-9">
                    <input class="form-control" formControlName="name">
                  </div>
                </div>
                <div class="form-group row">
                   <label class="col-3 col-form-label">Kanal:</label>
                    <div class="col-9">
                       <input class="form-control" formControlName="phone" type="tel" placeholder="Telefon">
                      <input class="form-control" formControlName="mail" type="email" placeholder="Email">
                      <input class="form-control" formControlName="other" placeholder="Text">
                    </div>
                </div>
            </div>
          </div>
        </div>
          <div class="form-group row">
            <label class="col-3 col-form-label">Bild hochladen:</label>
            <div class="col-9">
              <!--<input type="file" ng2FileSelect [uploader]="uploader" formControlName="picture"/>-->
              <input type="file" (change)="fileChange($event)" placeholder="Upload picture" accept=".jpg,.png">
              <input class="form-control" formControlName="picture" placeholder="url">
            </div>
          </div>
        <button type="submit" class="btn btn-secondary">Speichern</button>
      </form>
    </div>
  </div>

  <!-- Tageler Cards -->
  <div class="row">
    <div class="col-md-6">
      <div class="row">
        <div *ngIf="showTageler">
          <div *ngFor="let tageler of tagelers | tagelerByGroup: selectedGroup">
            <div class="card w-100">
              <div class="card-block">
                <h4 class="card-title">{{tageler.title}}</h4>
                <p class="card-text">{{tageler.text}}</p>
                <button class="btn btn-danger"
                      mwlConfirm
                      [title]="title"
                      [message]="message"
                      (cancel)="cancelClicked = true"
                      placement="top"
                      (confirm)="deleteSelectedTageler(tageler)">Löschen</button>
                <button class="btn btn-info" (click)="showDetailForm(tageler)">Details</button>
                <button class="btn btn-info" (click)="showUpdateForm(tageler)">Edit</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Shows details of selected tageler in a form -->
    <div *ngIf="view">
      <div class="col-md-12">
        <form [formGroup]="tagelerForm">
          <fieldset disabled>
            <div class="form-group row">
              <label class="col-3 col-form-label">Titel:</label>
              <div class="col-9">
                <input class="form-control" placeholder="{{tageler.title}}">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-3 col-form-label">Text:</label>
              <div class="col-9">
                <textarea class="form-control" rows="3" placeholder="{{tageler.text}}"></textarea>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-3 col-form-label">Einheit:</label>
              <div class="col-9">
                <select class="form-control">
                  <option default>{{tageler.group}}</option>
                </select>
              </div>
            </div>
              <div class="form-group row">
                <label class="col-3 col-form-label">Start:</label>
                <div class="col-5">
                  <input class="form-control" type="date" placeholder="{{tageler.start}}">
                </div>
                <div class="col-4">
                  <input class="form-control" type="time" placeholder="{{tageler.start}}">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-3 col-form-label">Ende:</label>
                <div class="col-5">
                  <input class="form-control" type="date" placeholder="{{tageler.start}}">
                </div>
                <div class="col-4">
                  <input class="form-control" type="time" placeholder="{{tageler.start}}">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-3 col-form-label">Mitbringen:</label>
                <div class="col-9">
                  <input class="form-control" placeholder="{{tageler.bringAlong}}">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-3 col-form-label">Kleidung:</label>
                <div class="col-9">
                  <input class="form-control" placeholder="{{tageler.uniform}}">
                </div>
              </div>
              <div formGroupName="checkout">
                <div class="form-group row">
                  <label class="col-3 col-form-label">Absagen bis:</label>
                  <div class="col-5">
                    <input class="form-control" type="date">
                  </div>
                  <div class="col-4">
                    <input class="form-control"type="time">
                  </div>
                </div>
                <div formGroupName="contact">
                  <div class="form-group row">
                    <label class="col-3 col-form-label">Absagen bei:</label>
                    <div class="col-9">
                      <input class="form-control" placeholder="{{tageler.checkout.contact[0].name}}">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-3 col-form-label">Kanal:</label>
                    <div class="col-9">
                      <input class="form-control" type="tel" placeholder="{{tageler.checkout.contact[0].phone}}">
                      <input class="form-control" type="email" placeholder="{{tageler.checkout.contact[0].mail}}">
                      <input class="form-control" placeholder="{{tageler.checkout.contact[0].other}}">
                    </div>
                  </div>

                </div>
              </div>
              <div class="form-group row">
                <label class="col-3 col-form-label">Bild hochladen:</label>
                <div class="col-9">
                  <!--<input type="file" ng2FileSelect [uploader]="uploader" />-->
                  <input type="file" (change)="fileChange($event)" placeholder="Upload picture" accept=".jpg,.png">
                </div>
              </div>
          </fieldset>
          <button class="btn btn-info" (click)="closeDetailsOfTageler()">Ansicht schliessen</button>
        </form>
      </div>
    </div>


    <!-- Update Form -->
    <div *ngIf="update">
      <div class="col-md-12">
        <form [formGroup]="tagelerForm"  (ngSubmit)="updateTageler()" novalidate>
          <div class="form-group row">
            <label class="col-3 col-form-label">Titel:</label>
            <div class="col-9">
              <input class="form-control" formControlName="title" [(ngModel)]="tageler.title" placeholder="{{tageler.title}}">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-3 col-form-label">Text:</label>
            <div class="col-9">
              <textarea class="form-control" formControlName="text" rows="3" [(ngModel)]="tageler.text" placeholder="{{tageler.text}}"></textarea>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-3 col-form-label">Einheit:</label>
            <div class="col-9">
              <select class="form-control" formControlName="group" [(ngModel)]="tageler.group">
                <option default>{{tageler.group}}</option>
                <option *ngFor="let group of groups" value={{group.name}}>{{group.name}}</option>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-3 col-form-label">Start:</label>
            <div class="col-5">
              <input class="form-control" formControlName="date_start" type="date">
            </div>
            <div class="col-4">
              <input class="form-control" formControlName="time_start" type="time">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-3 col-form-label">Ende:</label>
            <div class="col-5">
              <input class="form-control" formControlName="date_end" type="date">
            </div>
            <div class="col-4">
              <input class="form-control" formControlName="time_end" type="time">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-3 col-form-label">Mitbringen:</label>
            <div class="col-9">
              <input class="form-control" formControlName="bringAlong" [(ngModel)]="tageler.bringAlong" placeholder="{{tageler.bringAlong}}">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-3 col-form-label">Kleidung:</label>
            <div class="col-9">
              <input class="form-control" formControlName="uniform" [(ngModel)]="tageler.uniform" placeholder="{{tageler.uniform}}">
            </div>
          </div>
          <div formGroupName="checkout">
            <div class="form-group row">
              <label class="col-3 col-form-label">Absagen bis:</label>
              <div class="col-5">
                <input class="form-control" formControlName="deadline_date" type="date">
              </div>
              <div class="col-4">
                <input class="form-control" formControlName="deadline_time" type="time">
              </div>
            </div>
            <div formGroupName="contact">
              <div class="form-group row">
                <label class="col-3 col-form-label">Absagen bei:</label>
                <div class="col-9">
                  <input class="form-control" formControlName="name" [(ngModel)]="tageler.checkout.contact[0].name" placeholder="{{tageler.checkout.contact[0].name}}">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-3 col-form-label">Kanal:</label>
                <div class="col-9">
                  <input class="form-control" formControlName="phone" type="tel" [(ngModel)]="tageler.checkout.contact[0].phone" placeholder="{{tageler.checkout.contact[0].phone}}">
                  <input class="form-control" formControlName="mail" type="email" [(ngModel)]="tageler.checkout.contact[0].mail" placeholder="{{tageler.checkout.contact[0].mail}}">
                  <input class="form-control" formControlName="other" [(ngModel)]="tageler.checkout.contact[0].other" placeholder="{{tageler.checkout.contact[0].other}}">
                </div>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-3 col-form-label">Bild hochladen:</label>
            <div class="col-9">
              <!--<input type="file" ng2FileSelect [uploader]="uploader" formControlName="picture"/>-->
              <input type="file" (change)="fileChange($event)" placeholder="Upload picture" accept=".jpg,.png">
              <input class="form-control" formControlName="picture" [(ngModel)]="tageler.picture" placeholder="{{tageler.picture}}">
            </div>
          </div>
          <button class="btn btn-info" type="submit">Speichern</button>
          <button class="btn btn-info" (click)="cancelUpdate()">Abbrechen</button>
        </form>
      </div>
    </div>
  </div>
</div>
