<div class="container">
  <div class="row">
    <div>
      <div class="col-md-2" *ngIf="!createTageler">
        <button class="btn btn-primary" (click)="showCreateTagelerForm()">Tageler erstellen</button>
      </div>
      <div class="col-md-2" *ngIf="createTageler">
        <button class="btn btn-primary" (click)="cancelCreateTageler()">Abbrechen</button>
      </div>
    </div>
    <div>
      <div class="col-md-2" *ngIf="!showGroups && !createTageler">
        <button class="btn btn-primary" (click)="showListOfGroups()">Gruppen anzeigen</button>
      </div>
      <div class="col-md-2" *ngIf="showGroups && !createTageler">
        <button class="btn btn-primary" (click)="hideListOfGroups()">Ansicht schliessen</button>
      </div>
    </div>
    <div class="col-md-2" *ngIf="showGroups && !createTageler">
      <button class="btn btn-primary" (click)="unselectSelectedGroups()" style="margin-left: 1%; margin-top: 1%;">Auswahl aufheben</button>
    </div>
  </div>

  <div *ngIf="showGroups" style="margin-top: 2%;">
    <div class="row">
      <div class="col md-4">
        <h4>Trupp</h4>
        <div *ngFor="let group of groups | groupTypeFilter: 'Trupp' ">
          <button class="btn btn-secondary" (click)="selectGroup(group)">
            {{group.name}}
          </button>
        </div>
      </div>
      <div class="col md-4">
        <h4>Meute</h4>
        <div *ngFor="let group of groups | groupTypeFilter: 'Meute' ">
          <button class="btn btn-secondary" (click)="selectGroup(group)">
          {{group.name}}
          </button>
        </div>
      </div>
      <div class="col md-4">
        <h4>Equipe</h4>
        <div *ngFor="let group of groups | groupTypeFilter: 'Equipe' ">
          <button class="btn btn-secondary" (click)="selectGroup(group)">
            {{group.name}}
          </button>
        </div>
      </div>
    </div>
  </div>


  <!-- Alerts unschön, müssen noch refactored werden (code dupliziert) -->
  <div *ngIf="createSuccess">
    <div class="alert alert-success alert-dismissible fade show" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <p>Tageler erfolgreich erstellt!</p>
    </div>
  </div>
  <div *ngIf="deleteSuccess">
    <div class="alert alert-success alert-dismissible fade show" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <p>Tageler erfolgreich gelöscht!</p>
    </div>
  </div>

  <!-- Create tageler form -->
  <div class="col-md-6">
    <div *ngIf="selectedTageler" class="row">
      <form [formGroup]="tagelerForm"  (ngSubmit)="saveNewTageler()">
        <div class="warning"><b>Hinweis: Felder, die mit ****** markiert sind, sind Pflichtfelder und müssen ausgefüllt werden!</b></div>
        <div class="form-group row">
          <label class="col-3 col-form-label">Übungsfrei</label>
          <div class="col-9">
              <input type="checkbox" name="free" formControlName="free" [(ngModel)]="free" (change)="fillFree($event)">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-3 col-form-label">Name:</label>
          <div class="col-9">
            <input class="form-control" formControlName="title" placeholder="******" required> <!-- REQUIREDOMG -->
          </div>
        </div>
        <div class="form-group row">
          <label class="col-3 col-form-label">Text:</label>
          <div class="col-9">
            <textarea class="form-control" formControlName="text" rows="3"></textarea>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-3 col-form-label">Einheit:</label>
          <div class="col-3">
            <select class="form-control" formControlName="group" required>
              <option value="" disabled selected>******</option>
              <option value="" disabled selected>Wähle Einheit!</option>
              <option *ngFor="let group of groups" value={{group.name}}>{{group.name}}</option>
            </select>
          </div>
        </div>
        <div *ngIf="free">
          <div class="form-group row">
            <label class="col-3 col-form-label">Datum:</label>
            <div class="col-5">
              <input class="form-control" formControlName="date_start" type="date" required>
            </div>
          </div>
        </div>
        <div *ngIf="!free">
          <div class="form-group row">
            <label class="col-3 col-form-label">Start:</label>
            <div class="col-5">
              <input class="form-control" formControlName="date_start" type="date" required>
            </div>
            <div class="col-4">
              <input class="form-control" formControlName="time_start" type="text" pattern="([01]?[0-9]{1}|2[0-3]{1})(:|\.)[0-5]{1}[0-9]{1}" placeholder="hh:mm">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-3 col-form-label">Ende:</label>
            <div class="col-5">
              <input class="form-control" formControlName="date_end" type="date" required>
            </div>
            <div class="col-4">
              <input class="form-control" formControlName="time_end" type="text" pattern="([01]?[0-9]{1}|2[0-3]{1})(:|\.)[0-5]{1}[0-9]{1}" placeholder="hh:mm">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-3 col-form-label">Mitbringen:</label>
            <div class="col-9">
              <textarea class="form-control" formControlName="bringAlong" rows="2" required></textarea>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-3 col-form-label">Kleidung:</label>
            <div class="col-9">
              <textarea class="form-control" formControlName="uniform" rows="2" required></textarea>
            </div>
          </div>
          <div formGroupName="checkout">
            <div class="form-group row">
              <label class="col-3 col-form-label">Absagen bis:</label>
              <div class="col-5">
                <input class="form-control" formControlName="deadline_date" type="date">
              </div>
              <div class="col-4">
                <input class="form-control" formControlName="deadline_time" type="text" pattern="([01]?[0-9]{1}|2[0-3]{1})(:|\.)[0-5]{1}[0-9]{1}" placeholder="hh:mm">
              </div>
            </div>
            <div formGroupName="contact">
                <div class="form-group row">
                  <label class="col-3 col-form-label">Absagen bei:</label>
                  <div class="col-9">
                    <input class="form-control" formControlName="name">
                  </div>
                </div>
                <div class="form-group row">
                   <label class="col-3 col-form-label">Kanal:</label>
                    <div class="col-9">
                       <input class="form-control" formControlName="phone" type="tel" placeholder="Telefon">
                      <input class="form-control" formControlName="mail" type="email" placeholder="Email">
                      <input class="form-control" formControlName="other" placeholder="Text">
                    </div>
                </div>
            </div>
          </div>
        </div>
          <div class="form-group row">
            <label for="filePicker">Bild auswählen</label><br>
            <div class="col-9">
              <input type="file" formControlName="picture" id="filePicker" accept=".jpg,.png" (change)="handleFileSelect($event)">
            </div>
            <img [src]="previewBase64" *ngIf="previewBase64" height="180" width="320"/>
          </div>
        <button type="submit" class="btn btn-secondary">Speichern</button>
      </form>
    </div>
  </div>

  <!-- Tageler Cards -->
  <div class="row">
    <div class="col-md-6">
      <div class="row">
        <div *ngIf="showTageler">
          <div *ngFor="let tageler of tagelers | tagelerByGroupAndByDate: selectedGroup">
            <div class="card w-100" style="margin-top: 4%; margin-bottom: 4%;">
              <div class="card-block">
                <h4 class="card-title">{{tageler.title}}</h4>
                <h5 class="card-title">{{ tageler.start | date: 'fullDate'}}</h5>
                <p class="card-text">{{tageler.text}}</p>
                <button class="btn btn-danger"
                      mwlConfirm
                      [title]="title"
                      [message]="message"
                      (cancel)="cancelClicked = true"
                      placement="top"
                      (confirm)="deleteSelectedTageler(tageler)">Löschen</button>
                <button class="btn btn-info" (click)="showDetailForm(tageler)">Details</button>
                <button class="btn btn-info" (click)="showUpdateForm(tageler)">Edit</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  <!-- Update and view Form -->
  <div *ngIf="update || view" class="col-md-6">
    <form [formGroup]="tagelerForm"  (ngSubmit)="updateTageler()" novalidate>
      <fieldset id="enableInput" [disabled]="view">
        <div class="form-group row">
          <label class="col-3 col-form-label">Übungsfrei</label>
          <div class="col-9">
            <input type="checkbox" name="free" formControlName="free" [(ngModel)]="free" (change)="fillFree($event)" [checked]="tageler.free">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-3 col-form-label">Titel:</label>
          <div class="col-9">
            <input class="form-control" formControlName="title" [(ngModel)]="tageler.title" placeholder="{{tageler.title}}">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-3 col-form-label">Text:</label>
          <div class="col-9">
            <textarea class="form-control" formControlName="text" rows="3" [(ngModel)]="tageler.text" placeholder="{{tageler.text}}"></textarea>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-3 col-form-label">Einheit:</label>
          <div class="col-9">
            <select class="form-control" formControlName="group" [(ngModel)]="tageler.group">
              <option default>{{tageler.group}}</option>
              <option *ngFor="let group of groups" value={{group.name}}>{{group.name}}</option>
            </select>
          </div>
        </div>
        <div *ngIf="free">
          <div class="form-group row">
            <label class="col-3 col-form-label">Datum:</label>
            <div class="col-5">
              <input class="form-control" formControlName="date_start" type="date" required placeholder="{{tageler.start}}">
            </div>
          </div>
          <div class="form-group row">
            <label *ngIf="update" for="filePicker">Bild auswählen</label><br>
            <div class="col-9">
              <input *ngIf="update" type="file" id="filePicker" accept=".jpg,.png" (change)="handleFileSelect($event)">
            </div>
            <img [src]="previewBase64" *ngIf="previewBase64" height="180" width="320"/>
          </div>
        </div>
        <div *ngIf="!free">
          <div class="form-group row">
            <label class="col-3 col-form-label">Start:</label>
            <div class="col-5">
              <input class="form-control" formControlName="date_start" type="date">
            </div>
            <div class="col-4">
              <input class="form-control" formControlName="time_start" type="time">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-3 col-form-label">Ende:</label>
            <div class="col-5">
              <input class="form-control" formControlName="date_end" type="date">
            </div>
            <div class="col-4">
              <input class="form-control" formControlName="time_end" type="time">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-3 col-form-label">Mitbringen:</label>
            <div class="col-9">
              <input class="form-control" formControlName="bringAlong" [(ngModel)]="tageler.bringAlong" placeholder="{{tageler.bringAlong}}">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-3 col-form-label">Kleidung:</label>
            <div class="col-9">
              <input class="form-control" formControlName="uniform" [(ngModel)]="tageler.uniform" placeholder="{{tageler.uniform}}">
            </div>
          </div>
          <div formGroupName="checkout">
            <div class="form-group row">
              <label class="col-3 col-form-label">Absagen bis:</label>
              <div class="col-5">
                <input class="form-control" formControlName="deadline_date" type="date">
              </div>
              <div class="col-4">
                <input class="form-control" formControlName="deadline_time" type="time">
              </div>
            </div>
            <div formGroupName="contact">
              <div class="form-group row">
                <label class="col-3 col-form-label">Absagen bei:</label>
                <div class="col-9">
                  <input class="form-control" formControlName="name" [(ngModel)]="tageler.checkout.contact[0].name" placeholder="{{tageler.checkout.contact[0].name}}">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-3 col-form-label">Kanal:</label>
                <div class="col-9">
                  <input class="form-control" formControlName="phone" type="tel" [(ngModel)]="tageler.checkout.contact[0].phone" placeholder="{{tageler.checkout.contact[0].phone}}">
                  <input class="form-control" formControlName="mail" type="email" [(ngModel)]="tageler.checkout.contact[0].mail" placeholder="{{tageler.checkout.contact[0].mail}}">
                  <input class="form-control" formControlName="other" [(ngModel)]="tageler.checkout.contact[0].other" placeholder="{{tageler.checkout.contact[0].other}}">
                </div>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label *ngIf="update" for="filePicker">Bild auswählen</label><br>
            <div class="col-9">


              <!-- TODO: merge


              <input value="{{tageler.picture}}">
            </div>
          </div>
        </fieldset>
        <button class="btn btn-info" (click)="closeDetailsOfTageler()">Ansicht schliessen</button>
      </form>
    </div>

  <!-- Update Form
  <div *ngIf="update" class="col-md-6">
    <form [formGroup]="tagelerForm"  (ngSubmit)="updateTageler()" novalidate>
      <div class="form-group row">
        <label class="col-3 col-form-label">Übungsfrei</label>
        <div class="col-9">
          <input type="checkbox" name="free" formControlName="free" [(ngModel)]="free" (change)="fillFree($event)" [checked]="tageler.free">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-3 col-form-label">Titel:</label>
        <div class="col-9">
          <input class="form-control" formControlName="title" [(ngModel)]="tageler.title">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-3 col-form-label">Text:</label>
        <div class="col-9">
          <textarea class="form-control" formControlName="text" rows="3" [(ngModel)]="tageler.text"></textarea>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-3 col-form-label">Einheit:</label>
        <div class="col-9">
          <select class="form-control" formControlName="group" [(ngModel)]="tageler.group">
            <option *ngFor="let group of groups" value={{group.name}}>{{group.name}}</option>
          </select>
        </div>
      </div>
      <div *ngIf="free">
        <div class="form-group row">
          <label class="col-3 col-form-label">Datum:</label>
          <div class="col-5">
            <input class="form-control" formControlName="date_start" type="date" required">
          </div>
        </div>
        <div class="form-group row">
          <label for="filePicker">Bild auswählen</label><br>
          <div class="col-9">
            <input type="file" formControlName="picture" id="filePicker" accept=".jpg,.png" (change)="handleFileSelect($event)">
          </div>
          <img [src]="previewBase64" *ngIf="previewBase64" height="180" width="320"/>
        </div>
      </div>
      <div *ngIf="!free">
        <div class="form-group row">
          <label class="col-3 col-form-label">Start:</label>
          <div class="col-5">
            <input class="form-control" formControlName="date_start" type="date">
          </div>
          <div class="col-4">
            <input class="form-control" formControlName="time_start" type="time">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-3 col-form-label">Ende:</label>
          <div class="col-5">
            <input class="form-control" formControlName="date_end" type="date">
          </div>
          <div class="col-4">
            <input class="form-control" formControlName="time_end" type="time">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-3 col-form-label">Mitbringen:</label>
          <div class="col-9">
            <input class="form-control" formControlName="bringAlong" [(ngModel)]="tageler.bringAlong">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-3 col-form-label">Kleidung:</label>
          <div class="col-9">
            <input class="form-control" formControlName="uniform" [(ngModel)]="tageler.uniform">
          </div>
        </div>
        <div formGroupName="checkout">
          <div class="form-group row">
            <label class="col-3 col-form-label">Absagen bis:</label>
            <div class="col-5">
              <input class="form-control" formControlName="deadline_date" type="date">
            </div>
            <div class="col-4">
              <input class="form-control" formControlName="deadline_time" type="time">
            </div>
          </div>
          <div formGroupName="contact">
            <div class="form-group row">
              <label class="col-3 col-form-label">Absagen bei:</label>
              <div class="col-9">
                <input class="form-control" formControlName="name" [(ngModel)]="tageler.checkout.contact[0].name">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-3 col-form-label">Kanal:</label>
              <div class="col-9">
                <input class="form-control" formControlName="phone" type="tel" [(ngModel)]="tageler.checkout.contact[0].phone">
                <input class="form-control" formControlName="mail" type="email" [(ngModel)]="tageler.checkout.contact[0].mail">
                <input class="form-control" formControlName="other" [(ngModel)]="tageler.checkout.contact[0].other">
              </div> -->
              <input *ngIf="update" type="file" formControlName="picture" id="filePicker" accept=".jpg,.png" (change)="handleFileSelect($event)">
            </div>
            <img [src]="previewBase64" *ngIf="previewBase64" height="180" width="320"/>
          </div>
        </div>
        <button *ngIf="update" class="btn btn-info" type="submit">Speichern</button>
        <button *ngIf="update" class="btn btn-info" (click)="cancelUpdate()">Abbrechen</button>
      </fieldset>
    </form>
  </div>
  </div>
</div>
