<div class="container">
  <div class="row">
    <div class="col-md-2">
      <button class="btn btn-primary" (click)="createNewTageler()">New Tageler</button>
    </div>
    <div *ngIf="!showTageler">
      <div class="col-md-2">
        <button class="btn btn-primary" (click)="showAllTageler()">Show Tageler</button>
      </div>
    </div>
  </div>


  <!-- Alerts unschön, müssen noch refactored werden (code dupliziert) -->
  <div *ngIf="createSuccess">
    <div class="alert alert-success alert-dismissible fade show" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <p>Tageler successfully created.</p>
    </div>
  </div>
  <div *ngIf="deleteSuccess">
    <div class="alert alert-success alert-dismissible fade show" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <p>Tageler successfully deleted.</p>
    </div>
  </div>

  <div class="col-md-6">
    <div *ngIf="selectedTageler" class="row">
      <form [formGroup]="tagelerForm"  (ngSubmit)="onSubmit()" novalidate>
        <div class="form-group row">
          <label class="col-3 col-form-label">Name:</label>
          <div class="col-9">
            <input class="form-control" formControlName="title">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-3 col-form-label">Text:</label>
          <div class="col-9">
            <textarea class="form-control" formControlName="text" rows="3"></textarea>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-3 col-form-label">Datum:</label>
          <div class="col-9">
            <input class="form-control" formControlName="date" type="date" useValueAsDate>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-3 col-form-label">Einheit:</label>
          <div class="col-9">
            <select class="form-control" formControlName="unit">
              <option *ngFor="let unit of units" value={{unit.name}}>{{unit.name}}</option>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-3 col-form-label">Start:</label>
          <div class="col-9">
            <input class="form-control" formControlName="start" type="time">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-3 col-form-label">Ende:</label>
          <div class="col-9">
            <input class="form-control" formControlName="end" type="time">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-3 col-form-label">Mitbringen:</label>
          <div class="col-9">
            <input class="form-control" formControlName="bring_along">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-3 col-form-label">Kleidung:</label>
          <div class="col-9">
            <input class="form-control" formControlName="uniform">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-3 col-form-label">Absagen bis:</label>
          <div class="col-9">
            <input class="form-control" formControlName="checkout_deadline" type="date" useValueAsDate>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-3 col-form-label">Image upload:</label>
          <div class="col-9">
            <input type="file" ng2FileSelect [uploader]="uploader" formControlName="picture"/>
          </div>
        </div>
        <button type="submit" class="btn btn-secondary">Create</button>
      </form>
    </div>
  </div>

  <div class="row">
    <div class="col-md-5">
      <div *ngIf="showTageler">
        <div *ngFor="let tageler of tagelers">
          <div class="card w-100">
            <div class="card-block">
              <h4 class="card-title">{{tageler.title}}</h4>
              <p class="card-text">{{tageler.text}}</p>
              <button class="btn btn-danger" (click)="deleteTageler(tageler)">Delete Tageler</button>
              <button class="btn btn-info" (click)="updateThisTageler(tageler)">Update</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-5">
    <div *ngIf="update">
      <form class="col-md-12">
        <div class="form-group row">
          <label for="tageler-titel" class="col-3 col-form-label">Titel</label>
          <div class="col-9">
            <input class="form-control" name="tageler-titel" [(ngModel)]="tageler.title" placeholder="{{tageler.title}}"/>
          </div>
        </div>
        <div class="form-group row">
          <label for="tageler-text" class="col-3 col-form-label">Text</label>
          <div class="col-9">
            <textarea class="form-control" name="tageler-text" rows="5" [(ngModel)]="tageler.text" placeholder="{{tageler.text}}"></textarea>
          </div>
        </div>
        <div class="form-group row">
          <label for="tageler-datum" class="col-3 col-form-label">Datum</label>
          <div class="col-9">
            <input class="form-control" name="tageler-datum" [(ngModel)]="tageler.date" type="date" placeholder="{{tageler.date}}"/>
          </div>
        </div>
        <div class="form-group row">
          <label for="tageler-einheit" class="col-3 col-form-label">Einheit</label>
          <div class="col-9">
            <select class="form-control" name="tageler-unit" [(ngModel)]="tageler.unit">
              <option default>{{tageler.unit}}</option>
              <option *ngFor="let unit of units" [value]="unit.name">{{unit.name}}</option>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <label for="tageler-start" class="col-3 col-form-label">Start</label>
          <div class="col-9">
            <input class="form-control" name="tageler-start" type="time" [(ngModel)]="tageler.start" placeholder="{{tageler.start}}"/>
          </div>
        </div>
        <div class="form-group row">
          <label for="tageler-end" class="col-3 col-form-label">Ende</label>
          <div class="col-9">
            <input class="form-control" name="tageler-end" type="time" [(ngModel)]="tageler.end" placeholder="{{tageler.end}}"/>
          </div>
        </div>
        <div class="form-group row">
          <label for="tageler-bring_along" class="col-3 col-form-label">Mitbringen</label>
          <div class="col-9">
            <input class="form-control" name="tageler-bring_along" [(ngModel)]="tageler.bring_along" placeholder="{{tageler.bring_along}}"/>
          </div>
        </div>
        <div class="form-group row">
          <label for="tageler-uniform" class="col-3 col-form-label">Kleidung</label>
          <div class="col-9">
            <input class="form-control" name="tageler-uniform" [(ngModel)]="tageler.uniform" placeholder="{{tageler.uniform}}"/>
          </div>
        </div>
        <div class="form-group row">
          <label for="tageler-checkout_deadline" class="col-3 col-form-label">Absagen bis</label>
          <div class="col-9">
            <input class="form-control" name="tageler-checkout_deadline" [(ngModel)]="tageler.checkout_deadline"  type="date"/>
          </div>
        </div>
        <button class="btn btn-info" (click)="updateTageler(tageler)">Submit</button>
      </form>
    </div>
  </div>
  </div>
</div>
