<div class="container">
  <div class="row">
    <div class="col-md-2">
      <button class="btn btn-primary" (click)="createNewTageler()">New Tageler</button>
    </div>
    <div *ngIf="!showTageler">
      <div class="col-md-2">
        <button class="btn btn-primary" (click)="showAllTageler()">Show Tageler</button>
      </div>
    </div>
  </div>


  <!-- Alerts unschön, müssen noch refactored werden (code dupliziert) -->
  <div *ngIf="createSuccess">
    <div class="alert alert-success alert-dismissible fade show" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <p>Tageler successfully created.</p>
    </div>
  </div>
  <div *ngIf="deleteSuccess">
    <div class="alert alert-success alert-dismissible fade show" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <p>Tageler successfully deleted.</p>
    </div>
  </div>

  <div class="col-md-4">
    <div *ngIf="selectedTageler" class="row">
      <form [formGroup]="tagelerForm"  (ngSubmit)="onSubmit()" novalidate>
        <div class="form-group row">
          <label class="col-3 col-form-label">Name:</label>
          <div class="col-9">
            <input class="form-control" formControlName="title">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-3 col-form-label">Text:</label>
          <div class="col-9">
            <textarea class="form-control" formControlName="text" rows="3"></textarea>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-3 col-form-label">Einheit:</label>
          <div class="col-3">
            <select class="form-control" formControlName="group">
              <option *ngFor="let group of groups" value={{group.name}}>{{group.name}}</option>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-3 col-form-label">Start:</label>
          <div class="col-5">
            <input class="form-control" formControlName="date_start" type="date">
          </div>
          <div class="col-4">
            <input class="form-control" formControlName="time_start" type="time">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-3 col-form-label">Ende:</label>
          <div class="col-5">
            <input class="form-control" formControlName="date_end" type="date">
          </div>
          <div class="col-4">
            <input class="form-control" formControlName="time_end" type="time">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-3 col-form-label">Mitbringen:</label>
          <div class="col-9">
            <input class="form-control" formControlName="bring_along">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-3 col-form-label">Kleidung:</label>
          <div class="col-9">
            <input class="form-control" formControlName="uniform">
          </div>
        </div>
        <div formGroupName="checkout">
          <div class="form-group row">
            <label class="col-3 col-form-label">Absagen bis:</label>
            <div class="col-5">
              <input class="form-control" formControlName="deadline_date" type="date">
            </div>
            <div class="col-4">
              <input class="form-control" formControlName="deadline_time" type="time">
            </div>
          </div>
          <div formGroupName="contact">
              <div class="form-group row">
                <label class="col-3 col-form-label">Absagen bei:</label>
                <div class="col-9">
                  <input class="form-control" formControlName="name">
                </div>
              </div>
              <div class="form-group row">
                 <label class="col-3 col-form-label">Kanal:</label>
                  <div class="col-9">
                     <input class="form-control" formControlName="phone" type="tel" placeholder="Telefon">
                    <input class="form-control" formControlName="mail" type="email" placeholder="Email">
                    <input class="form-control" formControlName="other" placeholder="Text">
                  </div>
              </div>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-3 col-form-label">Image upload:</label>
          <div class="col-9">
            <!--<input type="file" ng2FileSelect [uploader]="uploader" formControlName="picture"/>-->
            <input type="file" (change)="fileChange($event)" placeholder="Upload picture" accept=".jpg,.png">
            <input class="form-control" formControlName="picture" placeholder="url">
          </div>
        </div>
        <button type="submit" class="btn btn-secondary">Create</button>
      </form>
    </div>
  </div>

  <div class="row">
  <div class="col-md-6">
    <div class="row">
      <div *ngIf="showTageler">
        <div *ngFor="let tageler of tagelers">
          <div class="card w-100">
            <div class="card-block">
              <h4 class="card-title">{{tageler.title}}</h4>
              <p class="card-text">{{tageler.text}}</p>
              <button class="btn btn-danger"
                      mwlConfirm
                      [title]="title"
                      [message]="message"
                      (cancel)="cancelClicked = true"
                      placement="top"
                      (confirm)="deleteTageler(tageler)">Delete Tageler</button>
              <button class="btn btn-info" (click)="viewThisDetails(tageler)">View Details</button>
              <button class="btn btn-info" (click)="updateThisTageler(tageler)">Update</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

    <div *ngIf="view">
      <div class="col-md-12">
        <form [formGroup]="tagelerForm">
          <fieldset disabled>
            <div class="form-group row">
              <label class="col-3 col-form-label">Titel:</label>
              <div class="col-9">
                <input class="form-control" placeholder="{{tageler.title}}">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-3 col-form-label">Text:</label>
              <div class="col-9">
                <textarea class="form-control" rows="3" placeholder="{{tageler.text}}"></textarea>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-3 col-form-label">Einheit:</label>
              <div class="col-9">
                <select class="form-control">
                  <option default>{{tageler.group}}</option>
                </select>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-3 col-form-label">Start:</label>
              <div class="col-5">
                <input class="form-control" type="date" placeholder="{{tageler.start}}">
              </div>
              <div class="col-4">
                <input class="form-control" type="time" placeholder="{{tageler.start}}">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-3 col-form-label">Ende:</label>
              <div class="col-5">
                <input class="form-control" type="date" placeholder="{{tageler.start}}">
              </div>
              <div class="col-4">
                <input class="form-control" type="time" placeholder="{{tageler.start}}">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-3 col-form-label">Mitbringen:</label>
              <div class="col-9">
                <input class="form-control" placeholder="{{tageler.bring_along}}">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-3 col-form-label">Kleidung:</label>
              <div class="col-9">
                <input class="form-control" placeholder="{{tageler.uniform}}">
              </div>
            </div>
            <div formGroupName="checkout">
              <div class="form-group row">
                <label class="col-3 col-form-label">Absagen bis:</label>
                <div class="col-5">
                  <input class="form-control" type="date">
                </div>
                <div class="col-4">
                  <input class="form-control"type="time">
                </div>
              </div>
              <div formGroupName="contact">
                <div class="form-group row">
                  <label class="col-3 col-form-label">Absagen bei:</label>
                  <div class="col-9">
                    <input class="form-control" placeholder="{{tageler.checkout.contact[0].name}}">
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-3 col-form-label">Kanal:</label>
                  <div class="col-9">
                    <input class="form-control" type="tel" placeholder="{{tageler.checkout.contact[0].phone}}">
                    <input class="form-control" type="email" placeholder="{{tageler.checkout.contact[0].mail}}">
                    <input class="form-control" placeholder="{{tageler.checkout.contact[0].other}}">
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-3 col-form-label">Image upload:</label>
              <div class="col-9">
                <!--<input type="file" ng2FileSelect [uploader]="uploader" />-->
                <input type="file" (change)="fileChange($event)" placeholder="Upload picture" accept=".jpg,.png">
              </div>
            </div>
          </fieldset>
          <button class="btn btn-info" (click)="cancel()">Close</button>
        </form>
      </div>
    </div>

    <div *ngIf="update">
      <div class="col-md-12">
        <form [formGroup]="tagelerForm"  (ngSubmit)="onSubmitUpdate()" novalidate>
          <div class="form-group row">
            <label class="col-3 col-form-label">Titel:</label>
            <div class="col-9">
              <input class="form-control" formControlName="title" [(ngModel)]="tageler.title" placeholder="{{tageler.title}}">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-3 col-form-label">Text:</label>
            <div class="col-9">
              <textarea class="form-control" formControlName="text" rows="3" [(ngModel)]="tageler.text" placeholder="{{tageler.text}}"></textarea>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-3 col-form-label">Einheit:</label>
            <div class="col-9">
              <select class="form-control" formControlName="group" [(ngModel)]="tageler.group">
                <option default>{{tageler.group}}</option>
                <option *ngFor="let group of groups" value={{group.name}}>{{group.name}}</option>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-3 col-form-label">Start:</label>
            <div class="col-5">
              <input class="form-control" formControlName="date_start" type="date">
            </div>
            <div class="col-4">
              <input class="form-control" formControlName="time_start" type="time">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-3 col-form-label">Ende:</label>
            <div class="col-5">
              <input class="form-control" formControlName="date_end" type="date">
            </div>
            <div class="col-4">
              <input class="form-control" formControlName="time_end" type="time">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-3 col-form-label">Mitbringen:</label>
            <div class="col-9">
              <input class="form-control" formControlName="bring_along" [(ngModel)]="tageler.bring_along" placeholder="{{tageler.bring_along}}">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-3 col-form-label">Kleidung:</label>
            <div class="col-9">
              <input class="form-control" formControlName="uniform" [(ngModel)]="tageler.uniform" placeholder="{{tageler.uniform}}">
            </div>
          </div>
          <div formGroupName="checkout">
            <div class="form-group row">
              <label class="col-3 col-form-label">Absagen bis:</label>
              <div class="col-5">
                <input class="form-control" formControlName="deadline_date" type="date">
              </div>
              <div class="col-4">
                <input class="form-control" formControlName="deadline_time" type="time">
              </div>
            </div>
            <div formGroupName="contact">
              <div class="form-group row">
                <label class="col-3 col-form-label">Absagen bei:</label>
                <div class="col-9">
                  <input class="form-control" formControlName="name" [(ngModel)]="tageler.checkout.contact[0].name" placeholder="{{tageler.checkout.contact[0].name}}">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-3 col-form-label">Kanal:</label>
                <div class="col-9">
                  <input class="form-control" formControlName="phone" type="tel" [(ngModel)]="tageler.checkout.contact[0].phone" placeholder="{{tageler.checkout.contact[0].phone}}">
                  <input class="form-control" formControlName="mail" type="email" [(ngModel)]="tageler.checkout.contact[0].mail" placeholder="{{tageler.checkout.contact[0].mail}}">
                  <input class="form-control" formControlName="other" [(ngModel)]="tageler.checkout.contact[0].other" placeholder="{{tageler.checkout.contact[0].other}}">
                </div>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-3 col-form-label">Image upload:</label>
            <div class="col-9">
              <!--<input type="file" ng2FileSelect [uploader]="uploader" formControlName="picture"/>-->
              <input type="file" (change)="fileChange($event)" placeholder="Upload picture" accept=".jpg,.png">
              <input class="form-control" formControlName="picture" [(ngModel)]="tageler.picture" placeholder="{{tageler.picture}}">
            </div>
          </div>
          <button class="btn btn-info" type="submit">Save</button>
          <button class="btn btn-info" (click)="cancel()">Cancel</button>
        </form>
      </div>
    </div>
  </div>
</div>
